//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: rem(768)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		position: absolute;

		top: 10px;
		left: 15px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

// HEADER  ========================================================================================================================================================
.header {
	position: absolute;

	// .header__container

	&__container {
		z-index: 2;
		box-sizing: border-box;
		padding-right: 0;
		display: block;

		display: flex;
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: space-between;

		._scroll {
			z-index: 20;
		}

		@media (min-width: $tablet) {
			padding-left: rem(317);
			justify-content: right;
		}
	}

	// .header__wrapper

	&__wrapper {
		justify-content: space-between;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		display: flex;
		background-color: $black;
		min-height: 40px;
		z-index: 2;

		box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
		transition: all 0.3s ease 0s;

		@media (min-width: $mobile) {
			&._scroll {
				min-height: 50px;
				background-color: rgba($color: $black, $alpha: 0.9);
				z-index: 10;
			}
		}
	}

	// .header__left

	&__left {
	}

	// .header__right

	&__right {
	}
}

.header-menu {
	margin-top: 35.5px;
	@media (max-width: rem(768)) {
		position: fixed;

		top: 4.5px;
		right: 15px;
		left: 0;
		bottom: 0;
		flex-direction: column;
		background-color: $black;
		display: flex;
		justify-content: start;
		overflow: auto;
		transform: translate(-150%, 0px);
		transition: all 0.3s ease 0s;
		padding-bottom: rem(15);
		max-width: 400px;

		.menu-open & {
			transform: translate(0%, 0px);
		}
	}

	// .header-menu__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 0 15px;
		margin: 0;

		max-width: 400px;

		.sidebar__img {
			height: 100px;
		}
	}

	// .header-menu__top

	&__top {
		display: flex;
		justify-content: start;
		flex-direction: column;
		align-items: center;

		@media (max-width: $mobile) {
			align-items: stretch;
		}
	}

	// .header-menu__bottom

	&__bottom {
	}
}

.left-header {
	// .left-header__list

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	@media (max-width: $mobile) {
		flex-direction: column;
	}
}
.list-header {
	@media (max-width: rem(768)) {
		margin-bottom: 56px;
		margin-top: 30px;
	}
	// .list-header__item

	&__item {
		position: relative;
		&_menu .list-header__link {
			display: flex;
			align-items: center;

			span {
				padding: 10px;
				margin: -10px;
				padding-left: 10px;
				margin-left: 3px;
				display: flex;
				justify-content: end;
				display: none;
				@media (min-width: $tablet) {
					flex: 1 1 auto;
					display: flex;
				}
			}
		}

		&._active {
			@media (min-width: $mobile) {
				background: #3137c9;
			}
		}

		&_menu._active .list-header__sub-list {
			opacity: 1;
			visibility: visible;

			pointer-events: auto;
			transition: all 0.1s ease 0s;
		}
	}

	// .list-header__link

	&__link {
		padding: 14px 15px;
		color: inherit;
		font-weight: 400;
		position: relative;

		text-transform: uppercase;
		display: flex;

		transition: all 0.1s ease 0s;
		font-size: rem(12);
		justify-content: center;

		@media (max-width: $mobile) {
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			text-transform: none;
			justify-content: start;
			padding: 10px 15px;

			&:hover {
				color: #0e70e2;
				text-decoration: underline;
			}
		}

		@media (min-width: $mobile) {
			justify-content: start;

			@media (any-hover: hover) {
				&:hover {
					background: #3137c9;
				}
			}
		}
	}

	// .list-header__sub-list

	&__sub-list {
		background: #3137c9;
		width: 165px;
		pointer-events: none;

		display: flex;
		flex-direction: column;
		padding-top: rem(10);
		padding-bottom: rem(10);
		gap: 1px;
		align-items: stretch;
		transition: all 0.02s ease 0s;
		position: absolute;

		top: 100%;
		left: 0;

		opacity: 0;
		visibility: hidden;
		@media (max-width: $mobile) {
			opacity: 1;
			visibility: visible;
			position: static;
			padding: 0 17px;
			padding-left: rem(20);
			background-color: transparent;
			width: 260px;
			pointer-events: auto;
		}
	}

	// .list-header__sub-item

	&__sub-item {
		width: 100%;

		@media (max-width: $mobile) {
			justify-content: start;
			display: flex;
		}
	}

	@media (max-width: $mobile) {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;

		padding: 0 15px;
	}

	// .list-header__sub-link

	&__sub-link {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		color: #ffffff;
		padding: 8px 12px;
		display: block;
		font-size: rem(13);
		transition: all 0.1s ease 0s;

		@media (max-width: $mobile) {
			font-weight: 300;
			font-size: 15px;
			line-height: 32px;
			text-transform: none;
			padding: 3px 15px;
			&:hover {
				color: #0e70e2;
				text-decoration: underline;
			}
		}

		@media (min-width: $tablet) {
			@media (any-hover: hover) {
				&:hover {
					background-color: darken(#3137c9, 10%);
				}
			}
		}
	}
}

.right-header {
	display: flex;
	gap: 15px;
	// .right-header__link

	&__link {
		padding: 14px 15px;
		transition: all 0.1s ease 0s;
		text-transform: uppercase;
		font-size: rem(12);
		transition: all 0.1s ease 0s;
		@media (min-width: $mobile) {
			@media (any-hover: hover) {
				&:hover {
					background: #3137c9;
				}
			}
		}

		@media (max-width: em(480)) {
			font-size: rem(24);
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			text-transform: none;
			justify-content: start;
			padding: 10px 15px;

			&:hover {
				color: #0e70e2;
				text-decoration: underline;
			}
		}
	}

	// .right-header__form

	&__form {
		display: flex;
		align-items: stretch;
	}

	// .right-header__form-search

	&__form-search {
		min-height: 40px;
		input {
			display: block;
			height: 100%;
			font-family: "Roboto";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			background-color: $gray;
			padding: 10px 20px;
			color: rgba(255, 255, 255, 0.4);
			outline: none;

			&._form-focus {
				color: white;
			}

			@media (max-width: rem(480)) {
				width: 212px;
			}
		}
	}
}
