@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
@import "vars";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1000;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(768); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	color: white;
	font-size: rem(14);
	font-family: "Roboto";
	font-weight: 400;
	background-color: #181818;

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

img {
	max-width: 100%;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// SIDEBAR  ========================================================================================================================================================

.page {
	display: flex;
	margin-bottom: rem(80);
	@media (max-width: $mobile) {
		margin-bottom: 50px;
	}

	// .page__breadcrumbs

	&__breadcrumbs {
	}
	// .page__sidebar

	&__sidebar {
	}

	// .page__articles

	&__articles {
	}

	&__body {
		@media (min-width: $tablet) {
			margin-top: 100px;
		}
		@media (max-width: $tablet) {
			margin-top: 10px;
		}
		@media (max-width: $mobile) {
			margin-top: 60px;
		}
	}

	&__container {
		display: flex;
		gap: 50px;

		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 0 20px;
		}
		width: 100%;
	}

	@media (min-width: $mobile) {
		&__body {
			flex: 1 1 auto;
		}
	}
}
.sidebar {
	@media (min-width: $tablet) {
		flex: 0 0 300px;
		margin-top: rem(0);
	}

	position: relative;
	z-index: 3;

	padding-bottom: rem(40);
	margin-top: 80px;

	background-color: $gray;

	@media (max-width: $mobile) {
		display: none;
	}
	// .sidebar__container

	&__container {
		padding: 0 15px;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $tablet) {
			flex-direction: row;
			justify-content: space-evenly;

			padding: 20px 15px;
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			padding: 0 5px;
			padding-bottom: 12px;
			border-bottom: 1px solid #1c1c1c;
			margin: 0;
			align-items: start;
		}
	}

	&__img {
		padding-top: calc(180 / 300 * 100%);
		width: 100%;

		@media (max-width: $tablet) {
			display: none;
		}

		@media (max-width: $mobile) {
			display: inline-block;
			padding-bottom: 25vw;
			max-width: 400px;
			width: 100%;

			padding-top: 0;
		}
	}
	// .sidebar__top

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-bottom: rem(30);

		@media (min-width: $tablet) {
			margin-top: -50px;
		}

		@media (max-width: $mobile) {
			margin-top: -12px;
			margin-bottom: 0;
			align-items: start;
		}
	}

	// .sidebar__logo

	&__logo {
		width: 100px;
		height: 100px;
		border: 2px solid #ffffff;
		box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(20);

		overflow: hidden;

		@media (max-width: $mobile) {
			width: 65px;
			height: 65px;
			margin-bottom: 0;
		}
	}

	// .sidebar__name

	&__name {
		font-size: rem(18);
		line-height: math.div(21, 18);
		text-align: center;
		color: #ffffff;
		margin-bottom: rem(3);

		@media (max-width: $mobile) {
			text-align: left;
			@include adaptiveValue("font-size", 17, 15);
			margin-bottom: 0;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $mobile) {
			flex-direction: row;
			gap: 10px;
		}
	}

	&__title {
		display: flex;
		flex-direction: column;
		align-self: end;
	}

	// .sidebar__text

	&__text {
		font-weight: 300;
		font-size: rem(14);
		line-height: rem(16);
		text-align: center;

		color: #dedede;
		margin-bottom: rem(17);

		@media (max-width: $mobile) {
			text-align: left;
			@include adaptiveValue("font-size", 15, 10);
			margin-bottom: 0;
		}
	}

	// .sidebar__socials

	&__socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		@media (max-width: $mobile) {
			display: none;
		}

		img {
			width: 25px;
			height: 25px;
			cursor: pointer;
		}
	}

	// .sidebar__bottom

	&__bottom {
	}
}
.sidebar-bottom {
	@media (max-width: $tablet) {
		max-width: 300px;

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	// .sidebar-bottom__text

	&__text {
		font-size: 12px;
		line-height: 18px;
		/* or 150% */

		text-align: center;

		border-top: 1px solid #1c1c1c;
		border-bottom: 1px solid #1c1c1c;

		padding-bottom: 30px;
		padding-top: 30px;
		margin-bottom: 30px;

		@media (max-width: $tablet) {
			padding: 5px 0;
			border: none;
			text-align: left;
		}

		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .sidebar-bottom__buttons

	&__buttons {
		display: flex;
		gap: 15px;

		@media (min-width: $tablet) {
			justify-content: center;
			align-items: center;
		}
	}
}

// STORIES  ========================================================================================================================================================
.page {
	// .page__stories

	&__stories {
	}
}
.stories {
	display: grid;
	min-width: 0;
	min-height: 0;

	.swiper {
	}

	.swiper-wrapper {
	}

	// .stories__wrapper

	&__wrapper {
		min-width: 0;
		min-height: 0;
	}

	// .stories__slider

	&__slider {
		min-width: 0;
		min-height: 0;
	}

	// .stories__slide

	&__slide {
		min-width: 0;
		min-height: 0;

		height: rem(195);
		position: relative;

		padding: 14px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		cursor: pointer;
		filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.5));
		img {
			border-radius: 10px;
		}
	}

	// .stories__label

	&__label {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		color: #ffffff;
		max-width: 115px;
	}

	// .stories__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	// .stories__date

	&__date {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
		text-transform: uppercase;
	}

	margin-bottom: rem(30);
}

// push  ========================================================================================================================================================

.write {
	margin-bottom: rem(30);
	// .write__items

	&__items {
	}
	// .write__wrapper

	&__wrapper {
		padding: 15px 20px;
		display: flex;
		gap: 15px;
		box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);

		background-color: #121212;
		border-radius: 5px;
		@media (max-width: $mobileSmall) {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	// .write__actions

	&__actions {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	&__input {
		flex: 1 1 auto;
		font-family: "Roboto";
		padding-left: 8px;
		font-weight: 400;
		line-height: 18px;
		height: 44px;
		background-color: transparent;
		outline: none;

		@include adaptiveValue("font-size", 15, 12);

		color: #d2d2d2;
	}

	// .write__photo

	&__photo {
		width: 44px;
		height: 44px;
		@media (max-width: $mobileSmall) {
			width: 33px;
			height: 33px;
		}
	}

	// .write__push

	&__push {
		background: #3137c9;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			position: absolute;
			width: 20px;
			height: 15px;
			left: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		width: 44px;
		height: 44px;
		@media (max-width: $mobileSmall) {
			width: 33px;
			height: 33px;
		}
	}
}

.items-write {
	// .items-write__wrapper

	&__wrapper {
		background: $gray;
		box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// .items-write__item

	&__item {
		padding: 25px 27px;

		@media (max-width: $mobile) {
			padding: 18px 20px;
		}
	}

	// .items-write__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;

		color: #d2d2d2;
		@include adaptiveValue("font-size", 14, 12);

		margin-bottom: 5px;
		@media (max-width: $mobile) {
			margin-bottom: rem(12);
		}
	}

	// .items-write__date

	&__date {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		color: #828282;
		text-align: left;
	}
}

// ARTICLES  ========================================================================================================================================================

.articles {
	@include adaptiveValue("margin-bottom", 80, 50);
	// .articles__wrapper

	&__wrapper {
	}

	// .articles__items

	&__items {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// .articles__item

	&__item {
	}
}
.article {
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	background-color: $gray;
	// .article__img

	&__img {
		padding-bottom: calc(245 / 600 * 100%);
	}

	// .article__content

	&__content {
	}

	&__inner {
		padding: 15px 20px;

		@media (max-width: $mobile) {
			padding: 10px 15px;
		}
	}

	// .article__title

	&__title {
		margin-bottom: rem(15);
		// .article__link
	}
	&__link {
		font-weight: 500;
		line-height: 18px;
		display: block;

		@include adaptiveValue("font-size", 18, 13);
		font-size: rem(40);

		@media (max-width: $mobile) {
		}
	}

	// .article__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;

		@include adaptiveValue("font-size", 14, 11);

		color: #d2d2d2;

		margin-bottom: em(21, 14);
	}

	// .article__footer

	&__footer {
		display: flex;
		text-align: center;
		justify-content: space-between;

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	// .article__video

	&__video {
		padding-bottom: calc(280 / 550 * 100%);

		@media (min-width: $tablet) {
			margin: 25px 25px 0 25px;
			video {
				border-radius: 5px;
			}
		}
	}

	// .article__info

	&__info {
		display: flex;

		column-gap: 31px;
		align-items: center;

		@include adaptiveValue("column-gap", 31, 15);

		@media (max-width: $mobileSmall) {
			margin-bottom: 9px;
		}
	}

	&__dot {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #c4c4c4;
	}

	// .article__date

	&__date {
		font-size: 12px;
		line-height: 14px;

		color: #828282;
	}

	// .article__category

	&__category {
		font-size: 12px;
		line-height: 14px;

		color: #828282;
	}

	// .article__readmore

	&__readmore {
		font-size: 14px;
		line-height: 16px;
		text-align: right;

		color: #107eff;

		&:hover {
			text-decoration: underline;
		}

		@media (max-width: $mobileSmall) {
			text-align: left;
		}
	}
}

// BREADCRUMBS  ========================================================================================================================================================

.breadcrumbs {
	// .breadcrumbs__wrapper

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .breadcrumbs__list

	&__list {
		display: flex;
		gap: 10px;
	}

	// .breadcrumbs__item

	&__item {
		background: #0d0d0d;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		transition: all 0.2s ease 0s;
		position: relative;

		@media (any-hover: hover) {
			&:hover {
				background: rgba($color: #104be3, $alpha: 0.8);
				box-shadow: 0px 0px 10px rgba(58, 108, 234, 0.15);
			}
		}
		// .breadcrumbs__item_prev

		&_prev {
		}

		// .breadcrumbs__item_active

		&_active {
			background: #104be3;
			box-shadow: 0px 0px 10px rgba(58, 108, 234, 0.15);

			@media (any-hover: hover) {
				&:hover {
					background: #104be3;
					box-shadow: 0px 0px 10px rgba(58, 108, 234, 0.15);
				}
			}
		}

		// .breadcrumbs__item_next

		&_next {
		}
	}

	// .breadcrumbs__link

	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
